* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Baloo 2';
}

body {
    padding-top: 60px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-header {
    background-color:#12162D;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;

}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 60px;
    
}


.logo {
    display: flex;
    align-items: center;
    
}

.logo img {
    width: 100%;
    margin: 0 auto;
    vertical-align: middle;
}

.nav {
    flex: 1;
    display: flex;
    justify-content: center;
}


.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links li {
    list-style: none;
}

.nav-links li:hover {
    transform: scale(1.1);
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 500;
    position: relative;
}

.nav-links li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background-color:rgb(255, 0, 0);
    transition: width 0.3s ease;
}

.nav-links li a:hover::after {
    width: 100%;
}


.nav-links li a:hover {
    color: rgb(255, 0, 0);
}

.top-bar .logo:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.cerrar-menu {
    position: absolute;
    top: 20px;
    right: 20px;
}

.right-icons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.right-icons img {
    width: 30px;
    cursor: pointer;
    transition: 0.3s ease;
}

.right-icons img:hover {
    transform: scale(1.1);
}

.abrir-menu, .cerrar-menu {
    display: none;
}

.container-cabecera {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
}

.container-cabecera a {
    text-decoration: none;
    color: black;
}

.container-all {
    display: flex;;
    flex: 1;
    gap: 20px;
    justify-content: space-between;
    padding: 20px;
}

.carrito-compras {
    width: 60%;
    background: #e6e6e6;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.5);
}

.title {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.title h2 {
    font-size: 20px;
}



.detalles-producto {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    background: white;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.5);
}

.detalles-producto h2 {
    font-size: 20px;
    text-align: left;
}

.detalles-producto span {
    font-size: 20px;
    font-weight: 500;
}

.img-art {
    width: 100px;
}

.img-art img {
    width: 100%;
    border-radius: 8px;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 5px;
}

.buttons button {
    width: 25px;
    height: 25px;
    border: 1px solid #ccc;
    background: white;
    cursor: pointer;
}

.resumen-compra {
    background-color: #dddddd;
    padding: 10px;
    width: 40%;
    height: 200px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.5);
}


.resumen-compra h2::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: rgb(139, 139, 139);
    margin: 8px auto 0;
    border-radius: 2px;
}

.productos-cantidad {
    display: flex;
    justify-content: space-between;
}

.productos-cantidad p, span {
    font-size: 15px;
    font-weight: 700;
}

.envios {
    display: flex;
    justify-content: space-between;
}

.envios p,span {
    font-size: 15px;
    font-weight: 700;
}

.total {
    display: flex;
    justify-content: space-between;
}

.total p, span {
    font-size: 15px;
    font-weight: 700;
}

.btn-pagar {
    background-color: darkslateblue;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.btn-pagar:hover {
    background-color: #8324ff;
    transform: scale(1.01);
    box-shadow: 0px 4px 8px rgba(0,0,0,0.5);
}

footer {
    background-color: #000000;
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding: 10px;
}



footer ul li{
    list-style: none;
    
}

footer li a {
    text-decoration: none;
    color: white;
    
}

@media (max-width: 768px ) {
    .abrir-menu, .cerrar-menu {
        display: block;
        background: none;      
        border: none;        
        padding: 0;           
        margin: 0;
        color: white;         
        font-size: 30px;       
        cursor: pointer;

    }

    .scroll-btn.right, .scroll-btn.left {
        display: none;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        height: 100vh;
        background-color: darkslateblue;
        box-shadow: 0 0 0 100vmax rgba(0,0,0,0.5);
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }

    .nav-links {
        margin-top: 20px;
        flex-direction: column;
        align-items: end;
        padding: 40px;


    }


    .container-all {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .carrito-compras {
        width: 100%;
    }

    .resumen-compra {
        width: 100%;
    }
    
}